[Unit]
Description=Run gitmirror periodically
Requires=gitmirror.service

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=15min
Persistent=true
Unit=gitmirror.service

[Install]
WantedBy=timers.target